#pagination {
  margin-bottom: 1%;
}

.active {
  color: red;
}

#profile-table {
    max-width: 500px;
    margin: 3% auto 0;
}


@media only screen and (min-width: 400px) {
  #profile-table {
    max-width: 500px;
  }
}

@media only screen and (min-width: 750px) {
  #profile-table {
    max-width: 1200px;
  }
}