h1 {
    margin-top: 3%;
}

#dog-edit {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
}

#erase-image {
    margin-top: 2%;
}

#image-column img {
    max-width: 250px;
    margin-top: 2%;
    margin-bottom: 5px;
}


@media only screen and (min-width: 540px) {
    #image-column img {
        max-width: 450px;
    }
}